@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

body, html{height:100%}

#root {
  height: 100%;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
} 

a {
  display: block;
}

li {
  list-style-type: none;
}

button {
  border: none;
}

.wrapper {
  position: relative;
}

.text-bold {
  font-weight: 700;
}

.text-glowing {
  color: var(--1-e-273850, #EEF1F6);
  font-weight: 700;
}

.block-link {
  position: relative;
}

.block-link__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.block-link__background img {
  width: 100%;
	height: 100%;
}

.block-link__wrapper {
  position: relative;
  z-index: 2;
}

@media (max-width:1200px) {
  .block-link__background img{
    object-fit: cover;
  }
}